# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

pretrained_models
archive/
datasets/
training/checkpoints/
training/runs/
resources/*
!resources/download_resources.sh
notebooks/*
!notebooks/*.ipynb
!notebooks/*.py
!notebooks/*.sh
results/

*.npz
*.mp4
*.pdf
*.png
*.csv
*.zip


